:root {
  --mainBlue: #265188;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: rgb(245, 242, 217);
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: fantasy !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: cursive !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
